*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
}

#container{
    width: 50vw;
    height: fit-content;
    border: 1px solid black;
    text-align: center;
    margin-top: 10vh;
}


/*---------------- clock div------------ */
#clock{
    height: 4rem;
    width: 100%;
    border: 1px orange solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time{
    height: 1.5em;
    width: 15%;
    font-size: 2em;
    border: 1px solid pink;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}

.dots{
    font-size: 2em;
}

.lastp{
    width: 18%;
    margin-left: 10px;
}


/* ----------------- alarm setting div--------------------- */
#setting-div{
    height: 3em;
    width: 100%;
    border: 1px green solid;
}

#setting-div{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#setalarm-btn{
    height: 80%;
    width: 30%;
    border: 1px solid brown;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}


/* -----------------Alarm container -------------*/

#alarm-container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
